@import '../../variables';

.hackidea__nav {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        column-gap: $pd-md;
        list-style-type: none;
    }

    &__item {
        position: relative;
        padding: 1rem;

        a {
            color: $white-color;
            text-decoration: none;
        }
    }

    &__indicator {
        position: absolute;
        bottom: 0;
        background: $white-color;
        height: 4px;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 235ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}