/*=============================================
=            Color variables        =
=============================================*/
$primary-color: #1776BF;
$primary-text-color: #333333;
$white-color: #ffffff;
$error-color: #e7484a;


/*=====  End of Color variables ======*/


/*=============================================
=            Padding variables        =
=============================================*/
$pd-sm: .5rem;
$pd-md: 1rem;
$pd-lg: 1.5rem;
$pd-xlg: 2rem;
/*=====  End of Padding variables ======*/


